@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~bootstrap/scss/bootstrap';

* {
  @apply p-0 m-0;
}

.app {
  @apply bg-white h-screen;
}

.container-sm {
  @apply flex gap-3 w-full justify-end;
}

.container-md {
  @apply flex pr-0 justify-end;
}

.container {
  @apply flex flex-col justify-center mt-5 gap-4 w-max;
}

.main-table {
  @apply flex flex-col gap-3 text-[#78797E];
}

thead tr {
  @apply bg-[#999999] rounded-md;
}

tbody {
  @apply flex flex-col gap-3;
}

tr {
  @apply flex bg-[#E8EAF5] w-fit;
}

td,
th {
  @apply flex pt-2 pb-2 pl-2 pr-0 w-48;
}

td img {
  filter: invert(53%) sepia(9%) saturate(165%) hue-rotate(192deg)
    brightness(88%) contrast(91%);
}

.text-wrapper {
  @apply truncate;
}

th {
  @apply text-white font-extrabold;
}

a {
  @apply text-white;
}

.name {
  @apply text-black;
}

.buttons {
  @apply flex gap-3;
}

.form-check {
  @apply flex p-0;
}

.form-switch .form-check-input {
  @apply flex h-5 ml-5 bg-[#999999];
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

.form-switch .form-check-input:not(:checked) {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.icon {
  @apply pl-4 w-12;
}

.icon-header {
  @apply w-12;
}

.link-wrapper {
  @apply flex self-center;
}

#th-archive,
#th-trash {
  filter: invert(100%);
}

.secondary-table {
  @apply flex flex-col gap-3 text-[#78797E] mt-10 ml-auto w-full;
  tr {
    @apply flex w-full;
    td,
    th {
      @apply w-72;
    }
    .icon,
    .icon-header {
      @apply w-12;
    }
  }
}
